* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.about {
    height: 100vh;
    background-color: black;
    color: white;
}

.about article {
    width: 50vw;
    margin: 0 auto;
    padding: 20% 0;
    text-align: center;
}

.about p {
    padding: 10%
}

.timeline {
    /* height: 100vh; */
    color: black;
}

/* ==== 
====== TIMELINE SLIDER========== */

:root {
    --primary: #3F51B5;
    --dark-primary: #303F9F;
    --light-primary: #C5CAE9;
    --text: #FFFFFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --accent: #FF4081;
}

html,
body {
    overflow-x: hidden;
    background-color: #eee
}

.timeline {
    padding: 100px 10%;
    position: relative;
}

.timeline::before {
    content: '';
    background: var(--light-primary);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

/* doppelt? */
.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-dot {
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }

    .timeline-img {
        left: 50px;
    }

    .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }

    .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }

    .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
        /* Pfeil auf Punkt */
    }
}